<!DOCTYPE html>
<html lang="en" class="mdl-js">
  <%= render "header" %>
  <body>
    <section id="introduction">
      <div class="container">
        <div class="row fill-viewport align-items-center justify-content-center">
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col-md-auto">
                <h1 class="text-white title"><%= I18n.t(:name_app)%></h1>
              </div>
            </div>
            <p class="lead text-white-70">
              Hello, <%= current_player %>!
              Try to guess 4-digit number, that consists of numbers in a range from 1 to 6.
            </p>
            <hr class="mb-4">
            <div class="row">
              <div class="col button">
                <button type="button" class="btn btn-primary" disabled>
                  Level:
                  <span class="badge badge-light">
                    <%= current_game.difficulty_name %>
                  </span>
                </button>
              </div>
              <div class="col text-center button">
                <button type="button" class="btn btn-primary" disabled>
                  Attempts:
                  <span class="badge badge-light">
                    <%= current_game.attempts_total %>
                  </span>
                </button>
              </div>

              <div class="col button">
                <button type="button" class="btn btn-primary float-right">
                  Hints:
                  <span class="badge badge-light">
                    <%= current_game.hints %>
                  </span>
                </button>
              </div>
            </div>
            <hr class="mb-4">

            <form method="post" action="http://localhost:9292">
              <div class="form-group">
                <input class="form-control guess_input" name="number" pattern="^[1-6]{4}$" placeholder="1234" required="" autocomplete="off">
              </div>
              <div class="form-group guess_markers_list">
                <div id="guess_marker">
                  <button type="button" class="btn btn-success marks" disabled>+</button>
                  <button type="button" class="btn btn-primary marks" disabled>-</button>
                  <button type="button" class="btn btn-danger marks" disabled>x</button>
                  <button type="button" class="btn btn-danger marks" disabled>x</button>
                </div>
              </div>
              <hr class="mb-4">

              <button type="submit" class="btn btn-primary btn-lg">
                Submit
              </button>
            </form>

            <form method="post" action="/exit" style="width: 68px;padding-top: -25;margin-top: -47px;margin-left: 160px;">
            <button type="submit" class="btn btn-primary btn-lg">
                Exit
              </button>
            </form>

            <form method="post" action="/hint" class="btn-hints">
              <button type="submit" class="btn btn-warning btn-lg float-right">
                Show hint! <%= "<span class='badge badge-light'> #{current_game.level_hints.join(' ')} </span>" unless current_game.level_hints.empty? %>
              </button>
            </form>
          </div>
        </div>
       </div>
    </section>
  </body>
</html>